

<header>
  <nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Ultimate Fusion </a>
    </div>

    <div class="button-container">
      <a href="/api/login" class="btn btn-light"> Login  </a>

      <form method="POST" action="/api/order">
        <a href="/api/order"> <button type="submit" class="btn btn-light"> Order Now </button> </a>
      </form>
    </div>

  </nav>
</header>
