  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  </head>

  <header>
    <nav class="navbar sticky-top navbar-light bg-dark">
      <div class="container-fluid">
        <h5 class="title"> Ultimate Fusion </h5>
        <% if (locals.user) { %>
          <p style="color:white;">Welcome, <%= user %></p>
          <div class="button-container">

              <a href="/api/orders" class="btn btn-light"> Order Now </a>

            <form method="POST" action="/api/logout">
              <button class="btn btn-light" type="submit">Logout</button>

            </form>
          </div>

        <% } else { %>
          <div class="button-container">

            <a href="/api/register" class="btn btn-light"> Register </a>
            <a href="/api/login" class="btn btn-light"> Login  </a>

          </div>
        <% } %>



      </div>
    </nav>
  </header>
