<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your Order</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/order_food_count.js"></script>
  </head>

  <body>
    <!-- <%-include('partials/header') %> -->

    <p class="page-title"><strong>Your Order</strong> <i class="fas fa-shopping-cart"></i></p>

    <div class="box" id="counter-box">
      <form id="counter-form">
        <button class="plus" id="plus"> <strong> + </strong> </button>
        <button class="minus" id="minus"> <strong> - </strong> </button>

        <output name="food-counter" class="counter" id="counter"> 0 </output>
      </form>

        <% for (let items of food) {%>

         <li> <%= items.name %>  </li>
        <% } %>
      <form action="/" method="POST">
        <button class="submit-order" type="submit"><strong>Submit Order</strong></button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
