<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
  />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/order_summ.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Order Summary</title>
</head>
<body>
  <div class="menu-container">
    <h1>Your Order</h1>
    <div class="container">
      <div class="row-box">
        <div class="col-md-6">
          <h3 class="category-title">Here is your order summary:</h3>
          <% for (let item of orderSummary) { %> 
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= item.quantity %> <%= item.food_name %></h5>
                  <p class="card-price">Total: <%= `$${item.price}` %></p>
                </div>
              </div>
            </div>
          </div>
          <p class="bottom-text" style="margin-top: 2em;">Thank you for your order! It will be ready in <%= item.food_time %> minutes. You will recieve a text message when it is ready for pick up. Enjoy your meal 😋</p>
          <% } %>
        </div>
      </div>
</body>
</html>