// See: https://sass-lang.com/
* {
  font-family: 'Rakkas', cursive;
}

.hero-header {
  height: 70vh;
  width: 100%;
  background-image: url('/images/background-img.jpeg');
  background-size: cover;

  .hero-header-overlay {
    width: 100%;
    height: inherit;
    background: #000;
    opacity: 0.45;
    position: absolute;
    z-index: 1;
  }

  .hero-header-text {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

    h1 {
      color: white;
      font-size: 65px;
      z-index: inherit;
    }

    h3 {
      color: white;
      z-index: inherit;
      padding-top: 1em;
    }
  }
}

.menu-container {
  height: 120vh;
  text-align: center;
  color: white;
  //background-color: black;
  background-color: #121212;

  h1 {
    margin: 4% 0 4% 0;
    margin-bottom: 0.5em;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  .card {
    display: flex;
    //text-align: center;
    justify-content: center;
    width: 100%;
    //margin-right: 0 !important;
    margin-left: 5em;
    margin-right: 7em;
    margin-bottom: 3em;
    max-width: 600px;
    margin-top: 1em;
    color: white;
    background-color: #292929;
    border-radius: 30px;
    //background: #1a1a1a;
    background: linear-gradient(45deg, #1c1c1c, #171717);
    box-shadow:  30px -30px 60px #0c0c0c,
                 -30px 30px 60px #282828;


    //text inside card
    .row {
      text-align: start;
    }

    //price of food
    .card-price {
      padding: 0em;
      float: right;
    }

    //food decription
    .card-text {
      padding-right: 2em;
    }

    p {
      display: flex;
      flex-direction: row;
    }
  }
}

.menu-footer {
  height: 20vh;
  background-color: black;
}
