
body {
  background-color: black;

  h1 {
    text-align: center;
    padding-top: 5em;
    color: #ffffff;
  }
  .container {
    width: 40%;

    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 7px 0;
      margin-bottom: 1.5em;
      display: inline-block;
      border: none;
      box-sizing: border-box;
    }
    
    .label-username, .label-password {
      color: white;
      margin-top: 2em;
    }

    button {
      background-color: white;
      border: none;
      text-align: center;
      padding: 9px 25px;
      display: inline-block;
      transform: translateX(275%)
    }

  
  }

  // form {
  //   display: flex;
  //   justify-content: center;
  // }

  // .label-username {
  //   color: white;
  //   padding-right: 2em;
  // }

  // .username {
  //     display: flex;
  //     justify-content: flex-start;
  //     padding-top: 3em;
  //     padding-bottom: 1em;
  //     color: white;
  // }

  // .label-password {
  //   color: white;
  //   padding-right: 2em;
  // }
}
