//media queries for screen fit

@media only screen and (min-width: 1024px) {
  .card {
    margin-right: 0 !important;
    margin-left: 0em;
    width: 100%;
    display: flex;
  }

  .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-md-8 {
    padding-right: 0px 0px 0px 0px;
  }

}