//order summary page styling
* {
  font-family: "Rakkas", cursive;
  margin: 0 auto;
}

body {
  background-color: #1a1a1a !important;

  .menu-container {
    height: 120vh;
    text-align: center;
    color: white;
    background-color: #1a1a1a;

    h1 {
      margin: 4% 0 4% 0;
      margin-bottom: 0.5em;
      padding-top: 1em;
    }

    h3 {
      font-size: 20px;
      margin-top: 0.5em;
      padding-bottom: 0.5em;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }

    .col-md-6 {
      background-color: #1a1a1a;
    }

    .card {
      width: 100%;
      margin-bottom: 3em;
      padding-right: 1em;
      max-width: 600px;
      margin-top: 1em;
      color: white;
      background-color: #1a1a1a;
      border-radius: 30px;
      box-shadow: 9px 9px 18px #121212, -9px -9px 18px #222222;

      .row {
        text-align: start;
        padding-right: 2em;
      }

      .row-box {
        margin: 0 auto;
      }

      .card-name {
        padding-top: 1em;
      }

      .card-quant {
        padding: 0em;
        float: right;
        padding-top: 1em;
      }

      .total-price {
        padding-top: 2em;
        display: flex;
        justify-content: center;
      }

      .bottom-text {
        margin-top: 1em;
      }
    }

    a {
      margin-bottom: 1em;
      margin-top: 1em;
    }

    a:hover {
      background-color: rgb(219, 217, 166);
      color: black;
    }

    .btn:hover {
      background-color: rgb(219, 217, 166);
      color: black;
    }
  }
}
