// styling for order page
* {
  font-family: "Rakkas", cursive;
}

body {
  background-color: #1a1a1a;

  .page-title {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 5em;

    i {
      font-size: 22px;
    }
  }

  .box {
    // background-color: rgb(245, 244, 224);
    // border-radius: 40px;
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 1.5em;
    padding-right: 2em;
    padding-left: 3em;
    color: white;
    background-color: #1a1a1a;
    border-radius: 30px;
    box-shadow: 9px 9px 18px #121212, -9px -9px 18px #222222;
  }

  p {
    color: black;
  }

  .plus {
    border: none;
    background-color: black;
    color: white;
    float: right;
    margin-right: 0.5em;
    padding: 0.3em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border-radius: 10px;
  }

  .plus:hover {
    background-color: rgb(219, 217, 166);
    color: black;
  }

  .minus {
    border: none;
    background-color: black;
    color: white;
    float: right;
    margin-right: 0.5em;
    padding: 0.3em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-radius: 10px;
  }

  .minus:hover {
    background-color: rgb(219, 217, 166);
    color: black;
  }

  .submit-order {
    border: none;
    background-color: black;
    color: white;
    padding: 0.5em;
    padding-right: 0.9em;
    padding-left: 0.9em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
  }

  .submit-order:hover {
    background-color: rgb(219, 217, 166);
    color: black;
  }
}
