// styling for order page
* {
  font-family: "Rakkas", cursive;
}

body {
  background-color: #1a1a1a;

  .page-title {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 5em;

    i {
      font-size: 22px;
    }
  }

  .box {
    // background-color: rgb(245, 244, 224);
    // border-radius: 40px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 1.5em;
    padding-right: 2em;
    padding-left: 3em;
    color: white;
    background-color: #1a1a1a;
    border-radius: 30px;
    box-shadow: 9px 9px 18px #121212, -9px -9px 18px #222222;
  }

  p {
    color: black;
  }

  .list {
    list-style-type: none;
    font-size: 20px;
    padding-bottom: 1em;
  }

  .count-button-minus {
    font-size: 0.7em;
    margin-right: 0.3em;
  }

  .count-button-plus {
    font-size: 0.7em;
    margin-right: 0.3em;
  }

  // .plus {
  //   border: none;
  //   background-color: black;
  //   color: white;
  //   float: right;
  //   margin-right: 0.5em;
  //   padding: 0.3em;
  //   padding-left: 0.75em;
  //   padding-right: 0.75em;
  //   border-radius: 10px;
  // }

  .plus:hover {
    background-color: rgb(219, 217, 166);
    color: black;
  }

  .minus {
    border: none;
    background-color: black;
    color: white;
    float: right;
    margin-right: 0.5em;
    padding: 0.3em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-radius: 10px;
  }

  .minus:hover {
    background-color: rgb(219, 217, 166);
    color: black;
  }

  .submit-order-form {
    // border: none;
    // background-color: black;
    // color: white;
    // padding: 1em;
    // padding-right: 0.9em;
    // padding-left: 0.9em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: auto;
  }

  .btn:hover {
    background-color: rgb(219, 217, 166);
    color: black;
  }
}
